@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-rubik: "Rubik", sans-serif;

  --breakpoint-xxxs: 320px;
  --breakpoint-xxs: 375px;
  --breakpoint-xs: 425px;
}

/* Custom scrollbar-hide utility */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  background-color: #040c33;
  overflow-x: hidden;
  font-size: 16px;
  color: white;
  font-family: var(--font-space-grotesk);
  font-weight: 400;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.main-container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 3rem;
}

@media (max-width: 768px) {
  .main-container {
    padding: 1rem;
  }
}
